# -------------------------------------------------------------------------
# 💻 Terraform / Infrastructure as Code (IAC) Exclusions
# -------------------------------------------------------------------------

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.plan
crash.log
*.tfen
# *.tfvars
# *.auto.tfvars

# -------------------------------------------------------------------------
# 🐍 Python / Virtual Environment Exclusions
# -------------------------------------------------------------------------

venv/
env/
.venv/
Day02/aws_env/
__pycache__/
*.pyc
*.pyd
*.pyo

# -------------------------------------------------------------------------
# ⚙️ IDE / Operating System Exclusions (General)
# -------------------------------------------------------------------------

.vscode/
.DS_Store
Thumbs.db
*~
#*
.\#*